---
import '../styles/global.css';
import GitHub  from './icons/GitHub.astro';
import LinkedIn from './icons/LinkedIn.astro';
---
<footer>
   <div class="icon-box">
      <GitHub width={24} height={24} link='https://github.com/xneyk'/>
      <LinkedIn width={24} height={24} link='https://www.linkedin.com/in/edgaraguade/'/>
   </div>
   <div>
      <p>Project done by Edgar Aguadé.</p>
      <p>Got inspiration of www.monkeytype.com to make that project for just practice:)</p>
      <p>All my respect to MonkeyType team, their product is awesome!</p>
   </div>
</footer>
<style>
   footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-contentlf: flex-end;
      gap: 10px;
   }
   div {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .icon-box {
      flex-direction: row;
      gap: 10px;
   }
   p {
      color: var(--font-unwritten);
   }
</style>